# ==============================================================================
# HELP INDIA - PYTHON BACKEND CONFIGURATION
# ==============================================================================

# Port to listen on (Default: 5000)
PORT=5000

# NVIDIA NIM OpenAI API Configuration
OPENAI_BASE_URL=https://integrate.api.nvidia.com/v1
OPENAI_API_KEY=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
OPENAI_MODEL=openai/gpt-oss-20b
